/* =============== Google Font =============== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* =============== Variable =============== */
:root {
   --body-font: "Poppins", sans-serif;
   --normal-font-size: 1rem;
}

:root {
   --header-height: 4rem;
}

:root {
   --body-color: #ec9a98;
   --white-text-color: #ffffff;
}

:root {
   --z-front: 100;
   --z-normal: 10;
   --z-back: -100;
}

/* =============== Reset HTML =============== */
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
   background-color: var(--body-color);
   overflow-x: hidden;
}

a {
   text-decoration: none;
}

ul,
li {
   list-style: none;
}

img {
   width: 100%;
   height: auto;
   display: block;
}

/* =============== Layout =============== */
.grid {
   display: grid;
   max-width: 1280px;
   grid-template-columns: 100%;
   padding: 0 1rem;
}

.section {
   padding-top: 3rem;
}

/* =============== NavBar =============== */
header {
   width: 100%;
   z-index: var(--z-front);
}

.nav {
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-logo {
   font-size: 3rem;
   font-weight: 900;
   font-style: italic;
   color: var(--white-text-color);
}

.nav-link {
   font-weight: 700;
   color: var(--white-text-color);
   position: relative;
   font-size: 1rem;
}

@media screen and (max-width: 820px) {
   .nav-logo {
      font-size: 2rem;
   }

   .nav-menu {
      background-color: var(--body-color);
      position: fixed;
      top: var(--header-height);
      left: 0;
      width: 100%;
      padding: 2rem 1rem 2rem 1rem;
      border-radius: 0 0 1.5rem 1.5rem;
      opacity: 0;
      visibility: hidden;
      box-shadow: 5px 5px 3px rgb(0, 0, 0, 0.15);
      z-index: var(--z-front);
   }

   .nav-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
   }

   .nav-link {
      font-size: 1rem;
   }

   .nav-link::after {
      position: absolute;
      content: "";
      top: 22.5px;
      left: 0;
      width: 0%;
      height: 3px;
      background-color: var(--white-text-color);
      border-radius: 1rem;
      transition: all 0.5s ease;
   }

   .nav-link:hover:after {
      width: 100%;
   }

   .show-menu {
      opacity: 1;
      visibility: visible;
   }

   .main-blur {
      filter: blur(0.5rem);
   }
}

.nav-toggle {
   color: var(--white-text-color);
   font-size: 2rem;
   cursor: pointer;
}

/* =============== Main Content =============== */
.intro-title {
   color: var(--white-text-color);
   line-height: 1.15;
   width: 80%;
}

@media screen and (max-width: 540px) {
   .intro-title {
      width: 60%;
   }
}

.intro-text {
   margin-top: 1rem;
   margin-bottom: 2.5rem;
   font-size: var(--normal-font-size);
   font-weight: 500;
   color: var(--white-text-color);
}

.intro-btn {
   background-color: var(--white-text-color);
   padding: 0.75rem 2rem;
   border-radius: 3rem;
   font-weight: 700;
   color: var(--body-color);
}

.intro-img {
   transform: translateX(-0.5rem);
}

.about {
   position: relative;
}

.about-bg {
}

/* =============== Responsive =============== */
@media screen and (min-width: 820px) {
   .grid {
      padding: 0 3rem;
   }

   .nav-toggle {
      display: none;
   }

   .nav-list {
      display: flex;
      gap: 4rem;
   }

   .intro {
   }

   .intro-content {
      padding-top: var(--header-height);
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      position: relative;
   }

   .intro-title {
      width: 80%;
   }

   .intro-img {
      position: absolute;
      top: -230px;
      right: -70px;
      width: 760px;
      z-index: var(--z-back);
   }
}

@media screen and (min-width: 1280px) {
   .grid {
      margin: 0 auto;
   }
}
