/* =============== Google Font =============== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* =============== Variable =============== */
:root {
   --body-font: "Poppins", sans-serif;
   --normal-font-size: 0.85rem;
}

:root {
   --header-height: 4rem;
}

@media screen and (min-width: 540px) {
   :root {
      --normal-font-size: 0.95rem;
   }
}

:root {
   --body-color: #ec9a98;
   --about-color: #fff2ee;
   --team-color: #f5e6ce;
   --white-text-color: #ffffff;
   --about-text-color: #644747;
   --team-text-color: #644747;
}

/* =============== Loader =============== */
.preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-color: var(--body-color);
}

.preloader .loading-bar {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

/* =============== Reset HTML =============== */
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
   font-weight: 500;
   background-color: var(--body-color);
}

a {
   text-decoration: none;
}

ul,
li {
   list-style: none;
}

img {
   width: 100%;
   height: auto;
   display: block;
}

/* =============== Layout =============== */
.wrapper-container {
   max-width: 1220px;
   overflow: hidden;
}

.grid {
   display: grid;
   grid-template-columns: 100%;
   padding: 0 1.5rem;
}

.section {
   padding-top: var(--header-height);
}

.section-title {
   font-size: 1.75rem;
   line-height: 1.15;
}

@media screen and (min-width: 540px) {
   .section-title {
      font-size: 2.25rem;
   }
}

/* =============== NavBar =============== */
header {
   width: 100%;
   z-index: 1000;
   position: relative;
}

.nav {
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-logo {
   font-size: 1.5rem;
   font-weight: 900;
   font-style: italic;
   color: var(--white-text-color);
}

.nav-toggle {
   font-size: 1.5rem;
   color: var(--white-text-color);
}

@media screen and (max-width: 767px) {
   .nav-menu {
      background-color: var(--body-color);
      width: 90%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2rem 1rem;
      border-radius: 2rem;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;
   }

   .nav-link::after {
      display: none;
   }
}

.nav-list {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

.nav-item {
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.nav-link-icon {
   padding-left: 1rem;
   font-size: 1.5rem;
   color: var(--white-text-color);
   display: inline-flex;
}

.nav-link {
   color: var(--white-text-color);
   font-weight: 500;
   gap: 1rem;
   position: relative;
}

.nav-link::after {
   position: absolute;
   content: "";
   top: 22.5px;
   left: 0;
   width: 0%;
   height: 2px;
   background-color: var(--white-text-color);
   transition: all 0.3s ease;
}

.nav-link:hover:after {
   width: 100%;
}

.show-menu {
   opacity: 1;
   visibility: visible;
}

.main-blur {
   filter: blur(30px);
   background-color: rgba(255, 255, 255, 0.4);
}

/* =============== Intro =============== */
.intro-bg {
   position: absolute;
   width: 330px;
   top: 50%;
   right: 50%;
   transform: translate(50%, -2.5%);
   z-index: -100;
}

.intro {
   color: var(--white-text-color);
}

.intro-container {
   padding-bottom: calc(5.5 * var(--header-height));
}

.intro-title {
   width: 85%;
   margin-bottom: 1rem;
}

.intro-bottom-content {
   margin-top: 2.5rem;
}

.intro-btn {
   background-color: var(--white-text-color);
   color: var(--body-color);
   padding: 0.75rem 2rem;
   border-radius: 3rem;
   font-weight: 700;
}

/* =============== About =============== */
.about {
   margin-top: var(--header-height);
   padding-bottom: var(--header-height);
   position: relative;
   color: var(--about-text-color);
}

.about-bg {
   position: absolute;
   width: 940px;
   top: 0;
   left: 50%;
   transform: translateX(-42%);
   z-index: -100;
}

.about-container {
   padding-top: var(--header-height);
}

.about-title {
   margin-bottom: 2rem;
}

.about-content:nth-child(1) {
   margin-bottom: 2rem;
}

.about-content:nth-child(2) {
   position: relative;
   padding-bottom: calc(6 * var(--header-height));
}

.about-img {
   position: absolute;
   width: 380px;
   top: 0;
   right: 50%;
   transform: translateX(45%);
   z-index: -50;
}

/* =============== Team =============== */
.team {
   position: relative;
   color: var(--about-text-color);
   background-color: var(--team-color);
}

.team-container {
   padding-top: 0;
}

.team-bg {
   position: absolute;
   width: 640px;
   top: -7.5%;
   left: 50%;
   transform: translateX(-50%);
   z-index: -50;
}

.team-content:nth-child(1) {
   margin-bottom: calc(2 * var(--header-height));
}

.team-card-content {
   display: flex;
   flex-direction: column;
   gap: 7.5rem;
   position: relative;
   padding: 0.5rem;
}

.team-card {
   position: relative;
   display: flex;
   background-color: #fbf6f0;
   flex-direction: column;
   gap: 1rem;
   border-radius: 3rem;
   padding: 2rem;
}

.team-card-img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -145%);
   mask-image: url(/assets/img/team-profile-mask.svg);
   mask-repeat: no-repeat;
   width: 150px;
   height: 150px;
   -webkit-mask-image: url(/assets/img/team-profile-mask.svg);
   -webkit-mask-repeat: no-repeat;
}

.team-card-info {
   padding-top: 4.5rem;
   text-align: center;
}

.team-card-name {
   font-size: 1.25rem;
}

.team-card-position:nth-child(2) {
   margin-top: 0.5rem;
   font-size: var(--normal-font-size);
}

.team-card-link-content {
   margin-top: 1.25rem;
   display: flex;
   gap: 1rem;
   justify-content: center;
   align-items: center;
}

.team-card-link {
   font-size: 1.5rem;
   background-color: var(--team-text-color);
   display: inline-flex;
   padding: 0.75rem;
   border-radius: 50%;
   color: var(--white-text-color);
}

/* =============== Footer =============== */
.footer {
   padding-bottom: calc(1.5 * var(--header-height));
   position: relative;
   background-color: var(--team-color);
}

.footer-bg {
   position: absolute;
   width: 1720px;
   bottom: -270%;
   left: -150%;
}

.footer-container {
   position: relative;
   display: flex;
   flex-direction: column;
   padding: 0 1.5rem;
   gap: 6rem;
}

.footer-content:nth-child(1) {
   display: flex;
   gap: 2rem;
}

.footer-content:nth-child(2) {
   color: var(--white-text-color);
}

.primary-title,
.discovery-title {
   margin-bottom: 1rem;
   color: var(--about-text-color);
}

.primary-link-list,
.discovery-link-list {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.primary-link,
.discovery-link {
   color: var(--about-text-color);
}

.footer-logo {
   font-weight: 900;
   font-size: 3.5rem;
   font-style: italic;
   color: var(--team-color);
   margin-bottom: 0.25rem;
}

.footer-text-content:nth-child(3) {
   display: flex;
   gap: 0.5rem;
}

.footer-text {
   line-height: 2;
}

.scroll-content {
   position: fixed;
   background-color: var(--body-color);
   bottom: 30px;
   right: 30px;
   display: none;
   justify-content: center;
   align-items: center;
   padding: 0.5rem;
   border-radius: 0.75rem;
}

.scroll-link {
   font-size: 2rem;
   display: inline-flex;
   color: var(--white-text-color);
}

@media screen and (min-width: 390px) {
   .intro-title {
      width: 80%;
   }

   .intro-text {
      width: 90%;
   }
}

@media screen and (min-width: 414px) {
   .intro-title {
      width: 75%;
   }

   .about-title {
      width: 90%;
   }

   .team-card {
      width: 320px;
      margin: 0 auto;
   }
}

@media screen and (min-width: 428px) {
   .intro-text {
      width: 85%;
   }
}

@media screen and (min-width: 540px) {
   .intro-text {
      width: 70%;
   }

   .intro-bg {
      width: 360px;
      top: 50%;
      right: 40%;
   }

   .intro-container {
      padding-bottom: calc(6 * var(--header-height));
   }

   .about-bg {
      width: 970px;
      left: 35%;
   }

   .about-content:nth-child(1) {
      margin-bottom: 0;
   }

   .about-img {
      width: 410px;
      right: 40%;
   }

   .team-bg {
      width: 670px;
   }

   .footer-bg {
      width: 1820px;
      left: -115%;
      bottom: -277.5%;
   }
}

@media screen and (min-width: 768px) {
   .section {
      padding-top: calc(1.5 * var(--header-height));
   }

   .section-title {
      font-size: 2.5rem;
   }

   .nav-toggle {
      display: none;
   }

   .nav-list {
      flex-direction: row;
      gap: 2.5rem;
   }

   .nav-link-icon {
      display: none;
   }

   .intro-bg {
      width: 550px;
      top: -8.5%;
      right: 19%;
   }

   .intro-container {
      padding-bottom: 0;
   }

   .intro-title {
      width: 55%;
   }

   .intro-text {
      width: 50%;
   }

   .about-bg {
      width: 1280px;
      top: 5%;
      left: 10.5%;
   }

   .about-container {
      padding-top: calc(1.5 * var(--header-height));
   }

   .about-content:nth-child(2) {
      padding-bottom: calc(3 * var(--header-height));
   }

   .about-title {
      width: 70%;
   }

   .about-text {
      width: 45%;
      text-align: justify;
   }

   .about-img {
      width: 610px;
      top: -170%;
      right: 22.5%;
   }

   .team {
      padding-top: 0;
      padding-bottom: calc(2.5 * var(--header-height));
   }

   .team-bg {
      width: 1200px;
      top: -27.5%;
   }

   .team-content:nth-child(1) {
      margin-bottom: 3.5rem;
   }

   .team-content:nth-child(2) {
      padding-top: 4rem;
      overflow-x: auto;
      display: flex;
   }

   .team-card-position:nth-child(2)::-webkit-scrollbar {
      display: none;
   }

   .team-card-content {
      margin: 0 auto;
      flex-direction: row;
      gap: 2rem;
   }

   .footer-bg {
      bottom: -380%;
      left: -67.5%;
   }

   .footer-container {
      flex-direction: row-reverse;
      gap: 0;
      justify-content: space-evenly;
   }

   .footer-logo {
      width: max-content;
      height: max-content;
      margin-bottom: 0;
   }

   .primary-title,
   .discovery-title {
      margin-bottom: 1rem;
      color: var(--team-color);
   }

   .primary-link,
   .discovery-link {
      color: var(--team-color);
   }

   .footer-text-content:nth-child(3) {
      flex-direction: column;
      gap: 0;
   }
}

@media screen and (min-width: 1280px) {
   .wrapper-container {
      margin: 0 auto;
   }
}
