/* =============== Google Font =============== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* =============== Variable =============== */
:root {
   --body-font: "Poppins", sans-serif;
   --normal-font-size: 0.95rem;
}

:root {
   --header-height: 4rem;
}

:root {
   --body-color: #ec9a98;
   --about-color: #fff2ee;
   --team-color: #f5e6ce;
   --white-text-color: #ffffff;
   --about-text-color: #644747;
   --team-text-color: #644747;
}

:root {
   --z-front: 100;
   --z-normal: 10;
   --z-back: -100;
}

/* =============== Loader =============== */
.preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-color: var(--body-color);
 }
 .preloader .loading-bar {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
 }

/* =============== Reset HTML =============== */
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
   font-weight: 500;
   background-color: var(--body-color);
}

a {
   text-decoration: none;
}

ul,
li {
   list-style: none;
}

img {
   width: 100%;
   height: auto;
   display: block;
}

/* =============== Layout =============== */
.grid {
   display: grid;
   max-width: 1280px;
   grid-template-columns: 100%;
   padding: 0 1.7rem;
}

.section-title {
   font-size: 1.75rem;
   line-height: 1.15;
}

/* =============== NavBar =============== */
header {
   width: 100%;
   z-index: var(--z-front);
}

.nav {
   height: 5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-logo {
   font-size: 1.5rem;
   font-weight: 900;
   font-style: italic;
   color: var(--white-text-color);
}

.nav-toggle {
   font-size: 1.5rem;
   color: var(--white-text-color);
}

@media screen and (max-width: 820px) {
   .nav-menu {
      background-color: var(--body-color);
      width: 90%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2rem 1rem;
      border-radius: 2rem;
      opacity: 0;
      visibility: hidden;
      z-index: var(--z-front);
   }

   .nav-link::after {
      display: none;
   }
}

.nav-list {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

.nav-item {
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.nav-link-icon {
   padding-left: 1rem;
   font-size: 1.5rem;
   color: var(--white-text-color);
   display: inline-flex;
}

.nav-link {
   color: var(--white-text-color);
   font-weight: 500;
   gap: 1rem;
   position: relative;
}

.nav-link::after {
   position: absolute;
   content: "";
   top: 22.5px;
   left: 0;
   width: 0%;
   height: 2px;
   background-color: var(--white-text-color);
   transition: all 0.3s ease;
}

.nav-link:hover:after {
   width: 100%;
}

.show-menu {
   opacity: 1;
   visibility: visible;
}

.main-blur {
   filter: blur(30px);
   background-color: rgba(255, 255, 255, 0.4);
}

/* =============== Intro =============== */
.intro {
   padding-bottom: var(--header-height);
   color: var(--white-text-color);
}

.intro-content {
   padding-top: var(--header-height);
}

.intro-text {
   font-size: small;
   color: var(--white-text-color);
}

.intro-title {
   width: 90%;
   font-size: 2rem;
   margin-bottom: 1rem;
}

.intro-top {
   margin-bottom: 2.5rem;
}

.intro-btn {
   background-color: var(--white-text-color);
   color: var(--body-color);
   padding: 0.75rem 2rem;
   border-radius: 3rem;
   font-weight: 700;
}

/* =============== About =============== */
.about {
   position: relative;
   color: var(--about-text-color);
   overflow: hidden;
}

.about-content {
   margin-top: calc(2.5 * var(--header-height));
   background-color: var(--about-color);
}

.about-text {
   color: var(--about-text-color);
   font-size: small;
}

.about-bg {
   position: absolute;
   z-index: var(--z-back);
   width: 860px;
   left: -180px;
}

.about-title {
   margin-bottom: 2rem;
}

.about-right-content {
   margin-top: 2rem;
}

.about-img {
   width: 420px;
   transform: translateX(-75px);
}

/* =============== Team =============== */
.team {
   background-color: var(--team-color);
   color: var(--about-text-color);
}

.team-title {
   color: var(--team-text-color);
}

.team-1 {
   margin-bottom: 8rem;
}

.team-header-bg {
   width: 860px;
   position: absolute;
   bottom: -720px;
   left: -300px;
}

.team-top {
   margin-bottom: calc(2 * var(--header-height));
}

.team-card-content {
   display: flex;
   flex-direction: column;
   gap: 7.5rem;
   position: relative;
   padding: 0.5rem;
}

.team-card {
   position: relative;
   display: flex;
   background-color: #FBF6F0;
   flex-direction: column;
   gap: 1rem;
   border-radius: 3rem;
   padding: 2rem;
}

.team-card-img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -145%);
   width: 150px;
}

.team-card-info {
   color: var(--team-text-color);
   padding-top: 4.5rem;
   text-align: center;
}

.team-card-name {
   color: var(--team-text-color);
}

.team-card-link-content {
   margin-top: 1.25rem;
   display: flex;
   gap: 1rem;
   justify-content: center;
   align-items: center;
}

.team-card-link {
   font-size: 1.5rem;
   background-color: var(--team-text-color);
   display: inline-flex;
   padding: 0.75rem;
   border-radius: 50%;
   color: var(--white-text-color);
}

@media screen and (max-width: 360px) {
   .section-title {
      font-size: 1.5rem;
   }

   .intro-title {
      font-size: 1.75rem;
      width: 100%;
   }
}

@media screen and (min-width: 412px) {
   .intro-title {
      width: 85%;
   }

   .intro-text {
      width: 90%;
   }

   .intro-img {
      width: 360px;
      margin: 0 auto;
   }

   .about-img {
      transform: translateX(-35px);
   }

   .team-card-content {
      width: 360px;
      margin: 0 auto;
   }
}

@media screen and (min-width: 428px) {
   .intro-title {
      width: 80%;
   }

   .about-img {
      transform: translateX(-30px);
   }
}
