/* =============== Google Font =============== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* =============== Variable =============== */
:root {
   --body-font: "Poppins", sans-serif;
   --section-title: 1.75rem;
   --normal-font-size: 1rem;
}

@media screen and (max-width: 540px) {
   :root {
      --section-title: 1.75rem;
      --normal-font-size: 0.95rem;
   }
}

:root {
   --header-height: 3rem;
}

:root {
   --body-color: #ec9a98;
   --about-color: #fff2ee;
   --team-color: #f5e6ce;
   --white-text-color: #ffffff;
   --about-text-color: #644747;
}

:root {
   --z-front: 100;
   --z-normal: 10;
   --z-back: -100;
}

/* =============== Reset HTML =============== */
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
   font-weight: 500;
   background-color: var(--body-color);
}

a {
   text-decoration: none;
}

ul,
li {
   list-style: none;
}

img {
   width: 100%;
   height: auto;
   display: block;
}

/* =============== Layout =============== */
.grid {
   display: grid;
   max-width: 1280px;
   grid-template-columns: 100%;
   padding: 0 1rem;
}

.section {
   padding-top: 3.5rem;
}

.section-title {
   font-weight: 700;
   font-size: var(--section-title);
   line-height: 1.15;
}

/* =============== NavBar =============== */
header {
   width: 100%;
   z-index: var(--z-front);
}

.nav {
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-logo {
   font-size: 1.5rem;
   font-weight: 900;
   font-style: italic;
   color: var(--white-text-color);
}

.nav-toggle {
   font-size: 1.5rem;
   color: var(--white-text-color);
}

@media screen and (max-width: 820px) {
   .nav-menu {
      background-color: var(--body-color);
      width: 100%;
      position: fixed;
      top: var(--header-height);
      left: 0;
      padding: 2rem 1rem;
      border-radius: 0 0 1rem 1rem;
      box-shadow: 5px 5px 3px rgb(0, 0, 0, 0.15);
      opacity: 0;
      visibility: hidden;
   }

   .nav-list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
   }

   .nav-link {
      color: var(--white-text-color);
      font-weight: 500;
      position: relative;
   }

   .nav-link::after {
      position: absolute;
      content: "";
      top: 22.5px;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: var(--white-text-color);
      transition: all 0.3s ease;
   }

   .nav-link:hover:after {
      width: 100%;
   }
}

.show-menu {
   opacity: 1;
   visibility: visible;
}

/* =============== Intro =============== */
.intro {
   padding-bottom: var(--header-height);
}

.intro-title {
   color: var(--white-text-color);
}

.intro-title:nth-child(2) {
   margin-bottom: 1rem;
}

.intro-text {
   color: var(--white-text-color);
}

.intro-1 {
   margin-bottom: 2.5rem;
}

.intro-btn {
   background-color: var(--white-text-color);
   color: var(--body-color);
   padding: 0.75rem 2rem;
   border-radius: 3rem;
   font-weight: 700;
}

.intro-right-content {
   position: relative;
}

.intro-img {
   margin-left: -10px;
   max-width: 450px;
}

/* =============== About =============== */
.about {
   padding-top: 4rem;
   overflow: hidden;
   background-image: url(../img/about-bg.png);
   background-size: 980px;
   background-repeat: no-repeat;
   background-position-x: -220px;
}

.about-title {
   color: var(--about-text-color);
}

.about-title:nth-child(2) {
   margin-bottom: 2rem;
}

.about-text {
   color: var(--about-text-color);
}

.about-2 {
   margin-top: 1rem;
}

.about-right-content {
   margin-top: 3rem;
}

.about-img {
   width: 425px;
   margin-left: -72px;
   z-index: var(--z-back);
}

.team {
   background-color: var(--team-color);
}

.team-1 {
   margin-bottom: 8rem;
}

.team-card {
   display: flex;
   padding: 2rem;
   gap: 1rem;
   box-shadow: 0 0 5px 3px rgb(0, 0, 0, 0.15);
   border-radius: 3rem;
}

.team-card-content {
   display: flex;
   flex-direction: column;
   gap: 7.5rem;
   position: relative;
   padding: 0.5rem;
}

.team-card {
   display: flex;
   flex-direction: column;
   position: relative;
}

.team-card-img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -145%);
   width: 150px;
}

.team-card-info {
   padding-top: 4.5rem;
   text-align: center;
}

.team-card-name {
   color: var(--about-text-color);
}

.team-card-link-content {
   margin-top: 1.25rem;
   display: flex;
   gap: 1rem;
   justify-content: center;
   align-items: center;
}

.team-card-link {
   font-size: 1.5rem;
   background-color: var(--about-text-color);
   display: inline-flex;
   padding: 0.75rem;
   border-radius: 50%;
   color: var(--white-text-color);
}

@media screen and (min-width: 390px) {
   .about-img {
      width: 435px;
      margin-left: -72px;
   }
}

@media screen and (min-width: 411px) {
   .about-img {
      width: 470px;
      margin-left: -78px;
   }
}

@media screen and (min-width: 540px) {
   .intro-img {
      margin-left: 4.15rem;
   }
}
